* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  color: #02799d;
  font-family: Mulish;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
header p {
  color: #e1e1e6;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 600;
}

body {
  background: #121214;
  padding: 72px 104px;
  display: grid;
  justify-content: center;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 48px 60px;
  place-content: center;
  margin-top: 62px;
}
.card {
  background: #202024;
  border-radius: 8px;
  border: 2px solid #323238;
  overflow: hidden;
}
.card h2 {
  font-family: "Mulish", sans-serif;
  color: #e1e1e6;
  font-size: 36px;
  font-weight: 900;
  padding: 24px 32px 0;
}

.card p {
  color: #c4c4cd;
  font-family: "Mulish", sans-serif;
  font-weight: 600px;
  font-size: 18px;
  padding: 24px 32px 32px;
}
